<h1>Αναφορές</h1>

<p>
<%= link_to 'Τμημάτων', controller: :reports,
  action: "school_classes_report" %>
</p>
<p>
<%= 
  link_to 'Καθηγητών/Καθηγητριών', 
  controller: :reports,
  action: "school_teachers_report" 
%>
</p>
