<h1>Editing Student Residence Address</h1>

<%= render 'form', student_residence_address: @student_residence_address %>

<%= link_to 'Show', @student_residence_address %> |
<%= link_to 'Back', student_residence_addresses_path %>
