<h1> Επιλογή Καθηγητή / Καθηγήτριας </h1>

<table>
  <thead>
    <tr>
      <th>Ονοματεπώνυμο</th>
      <th>Διδακτικές Ώρες</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |st| %>
      <tr>
        <td><%= link_to "#{st.teacher.full_name}",
          pick_lessons_for_path( st.id, st.school.id )%></td>
        <td><%= link_to "#{st.teacher.teaching_hours}",
          pick_lessons_for_path( st.id, st.school.id )%></td>
        <td><%= link_to "Επιλογή μαθημάτων",
          pick_lessons_for_path( st.id, st.school.id )%></td>
    </tr>
  <% end %>
  </tbody>
</table>

