<h1>Editing Request Support Document</h1>

<p>You are currently editing a support document which was pre-created for you.
If you changed your mind, enter dummy values below, do the update,
and then you can delete it on the previous page.
</p>

<%= render 'form', request_support_document: @request_support_document %>

<!-- <%= link_to 'Show', @request_support_document %> | 
<%= link_to 'Back', request_support_documents_path %> -->
