<h1>Editing Student Contact Info</h1>

<%= render 'form', student_contact_info: @student_contact_info %>

<%= link_to 'Show', @student_contact_info %> |
<%= link_to 'Back', student_contact_infos_path %>
