<h1>Editing Response Specification</h1>

<%= render 'form', response_specification: @response_specification %>

<%= link_to 'Show', @response_specification %> |
<%= link_to 'Back', response_specifications_path %>
