<h1>Πρόγραμμα</h1>

<p>
<%= link_to 'Αποθήκευση τρέχουσας εικόνας προγράμματος', controller: "schedule", action: "save_form" %>
</p>

<p>
<%= link_to 'Σύγκριση δύο τελευταίων εικόνων', controller: "schedule", action: "diff" %>
</p>

<p>
<%= link_to 'Σύγκριση δύο οποινδήποτε εικόνων', controller: "schedule", action: "diff_general" %>
</p>
