<h1>Editing School Class Student</h1>

<%= render 'form', school_class_student: @school_class_student %>

<%= link_to 'Show', @school_class_student %> |
<%= link_to 'Back', school_class_students_path %>
