<h1>Editing School Teacher Response</h1>

<%= render 'edit_form', school_teacher_response: @school_teacher_response %>

<%= link_to 'Show', @school_teacher_response %> |
<%= link_to 'Back', school_teacher_responses_path %>
