<h1>Editing Teacher Working Class</h1>

<%= render 'form', teacher_working_class: @teacher_working_class %>

<%= link_to 'Show', @teacher_working_class %> |
<%= link_to 'Back', teacher_working_classes_path %>
