<p id="notice"><%= notice %></p>

<p>
  <strong>Startingyear:</strong>
  <%= @schoolyear.startingyear %>
</p>

<%= link_to 'Edit', edit_schoolyear_path(@schoolyear) %> |
<%= link_to 'Back', schoolyears_path %>
